 <!DOCTYPE html>
<html>
<head>
	<title> Ria - Projects</title>
	
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../public/style/projects.css">  

  <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

</head>
<body style="background-color: black;">
	
	<nav class="navbar navbar-light bg-light fixed-top" style="background-color: cadetblue !important;">

    <span id="nav" class="navbar-brand mb-0 h1"><a href="../index.html" style="color: black;"> RIA </a></span>

     <ul class="nav justify-content-end">

       <li class="nav-item">

       <a class="nav-link active" href="resume.html" style="color: black; font-size:1em;"><em><strong>Resume</strong></em></a>
       </li>

       <li class="nav-item">

       <a class="nav-link active" href="projects.html" style="color: black; font-size:1em;"><em><strong>Projects</strong></em></a>
       </li>

     </ul>

 	</nav> 

<!-- project 1 (yelpcamp) -->
<div class= "jumbotron jumbotron-fluid" style="background-color: black; padding-bottom: 0;margin-top: 2em;margin-bottom: 0;">
 <section class="container-fluid px-0">
   <div class="row align-items-center">
 	  <div class="col-lg-6">
 	  	<div id="head" class="text-center d-lg-block mt-5"> 
 	  		<a class="title" href="https://riayelpcamp.herokuapp.com" style="color: steelblue;">YELPCAMP</a>
 	  		<p class="desc">This is a full stack web application completed under web development bootcamp. It is based on a node.JS backend with express framework with REST API. The frontend is built upon bootstrap 3 and vanilla JS.<br><br><span class="text-muted"><i>Click on the title to view this project live | Click on the below icon for github repo</i></span></p>
 	  		<li class="list-inline-item"><a href="https://github.com/ria1601/yelpcamp" style="font-size: 4em; color: steelblue;"><i class="fab fa-github"></i></a></li>
 	  	</div>
 	  </div>

 	  <div class="col-lg-6">
 	  	<div class="float-left">
	    <img src="../images/yelpcamp.png" alt="#" style="width: 100%; height: 100%; padding-bottom: 0;">
        </div> 
      </div>  
   </div>	
 </section>
</div>	

<hr>

<!-- project 2 -->
<div class= "jumbotron jumbotron-fluid" style="background-color: black; padding-top: 0; padding-bottom: 0;margin-top: 2em;margin-bottom: 0;">
 <section class="container-fluid px-0">
   <div class="row align-items-center">
 	  
 	  <div class="col-lg-6 order-2 order-md-1">
 	  	<div class="float-left" style="width:100%; height:100%;">
	    <img src="../images/cyber.png" alt="#" style="width: 100%; height: 20em; padding-bottom: 0;">
        </div> 
      </div> 

 	  <div class="col-lg-6 order-1 order-md-2">
 	  	<div id="head" class="text-center d-lg-block mt-5"> 
 	  		<a class="title" href="../documents/CyberSecurity.pdf" style="color: steelblue;">PENETRATION TESTING ON WEB SERVER</a>
 	  		<p>This is a Black box penetration testing performed on a website during Summer training in Cyber Security where a penetration test was performed using various tools and techniques.<br><br><span class="text-muted"><i>Click on the title or below icon to see the documentation</i></span></p></p>
 	  		<li class="list-inline-item"><a href="../documents/CyberSecurity.pdf" style="font-size: 4em; color: steelblue;"><i class="far fa-file-pdf"></i></a></li>
 	  	</div>
 	  </div>
	</div>	
 </section>
</div>

<hr>

<!-- project 3 -->
<div class= "jumbotron jumbotron-fluid" style="background-color: black; padding-top:0; padding-bottom: 2em;margin-top: 2em;margin-bottom: 0;">
 <section class="container-fluid px-0">
    <div class="row align-items-center">
 	  <div class="col-lg-6">
 	  	<div id="head" class="text-center d-lg-block mt-5"> 
 	  		<a class="title" href="../index.html" style="color: steelblue;">PORTFOLIO</a>
 	  		<p>Personal portfolio site built using HTML, CSS and Bootstrap 4.<br><br><span class="text-muted"><i>Click on the title to view this project live | Click on the below icon for github repo</i></span></p></p>
 	  		<li class="list-inline-item"><a href="https://github.com/ria1601/ria1601.github.io" style="font-size: 4em; color: steelblue;"><i class="fab fa-github"></i></a></li>
 	  	</div>
 	  </div>

 	  <div class="col-lg-6">
 	  	<div class="float-left">
	    <img src="../images/portfolio.png" alt="#" style="width: 100%; height: 100%; padding-bottom: 0;">
        </div> 
      </div>  
   	</div>	
 </section>
</div>	


</body>
</html>
